version: "3.9"

services:
  mongodb:
    image: mongo:7
    container_name: cyber-risk-mongodb
    restart: unless-stopped
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin123
      MONGO_INITDB_DATABASE: cyber_risk_raw
    volumes:
      - mongodb_data:/data/db

volumes:
  mongodb_data:
